  <div class="container">
    <div id='transaction-display'>
    <h2>Transactions</h2>
    <table>
      <tr>
        <th>Company</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Category</th>
      </tr>
      <% if !@transactions.empty? %>
        <% @transactions.each do |f| %>
          <tr>
            <td>
              <%= f.company %>
            </td>
            <td>
              <%= '£' + f.amount.to_s %>
            </td>
            <td>
              <%= f.date %>
            </td>
            <td>
              <%= f.category %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <h1>No Results Yet</h1>
      <% end %>
    </table>
  </div>
</div>
